
<h1>*ngFor objs</h1>
<form class="form" #myForm="ngForm" (ngSubmit)="onRegister()">

  <div class="input-group">
    <div class="input-group">
      <label for="name">Nombre</label>
      <input type="text" required name="name" id="name" [(ngModel)]="register.name" />
      <p>Mesajes de error</p>
    </div>
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" required name="email"  id="email" [(ngModel)]="register.email" />
      <p>Mesajes de error</p>
    </div>
    <div class="input-group">
      <label for="Password">Password</label>
      <input type="password" required name="password" id="password" [(ngModel)]="register.password" />
      <p>Mesajes de error</p>
    </div>
    <button [disabled]="myForm.invalid" type="submit">Registrar</button>

  </div>
</form>
<div class="products--grid">
    <div *ngFor="let product of products">
        <h2>Productos</h2>
        <img [src]="product.image" alt="image">
        <h2>{{product.price}}</h2>
        <p>{{product.name}}</p>
      </div>
</div>